<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %>
    <%= form.text_field :commenter %>
  </p>
  <div class="">
    <p>
      <%= form.label :status%>
    </p>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit "Add comment" %>
  </p>
<% end %>
