<div class="article-container">
  <div class="article">

    <h2><%= @article.title %></h2>

    <div class="article_links">
      <%= link_to "All Articles", articles_path %>
      <%= link_to "Edit this Article", edit_article_path(@article) %>

      <%= link_to "Destroy me!", article_path(@article), :class => "article_links__link--right", data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </div>
    <p><%= @article.body %></p>
  </div>

  <div class="article_tags">
    <h3>Tags:</h3>
    <div class="article_tag_group">
      <%= render @article.tags.select(&:persisted?) %>
    </div>
  </div>
</div>

<turbo-frame id="comments-container">
  <section class="comments_add">
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  </section>

  <section class="comments">
    <h4>Comments</h4>
    <%= render @article.comments.select(&:persisted?) %>
  </section>
</turbo-frame>
