<h2><%= @article.title %></h2>
<p><%= @article.body %></p>
<%= link_to "Edit this Article", edit_article_path(@article) %>
<%= link_to "Destroy me!", article_path(@article), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>
<%= link_to "All Articles", articles_path %>

<h2>Comments</h2>
<% if @article.comments.count > 0 %>
  <% @article.comments.each do |comment| %>
    <%= render @article.comments %>
  <% end %>
<% else %>
  <p>No comments yet...</p>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<%# If you render the comments here, you'll see an empty set of comments. My guess is that @article.comments.build is creating an empty comment but it isn't saved until user clicks the button. %>
