<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <nav class="blog-nav">
        <% if current_user %>
          <p>
            <%= current_user.email %> is logged in 
          </p>
        <% end %>
      </nav>
      <div class="">
        <h1>My Blog</h1>

      </div>
      <%= yield %>
    </div>
  </body>
</html>
